:root{
  font-family: "Ubuntu", sans-serif;

}

body{
  background-color: whitesmoke;
}

@media print{
  input,
  button{
    display: none !important;
  }
}

.frmContent{
  display: flex;
  flex-direction: column;
  gap: .5em;

}

input{
  width: 15em;
  cursor: pointer;
}

input::after{
  content: "";
  display: block;
  clear: both;
}

button{
  cursor: pointer;
}



td,th{
  padding: 0 1em;
  
}

.cabecalho{
  background-color: cornflowerblue ;
}

