:root {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media print {
  input,
  button, .editar, .excluir {
    display: none !important;
  }
}

/* Css dos inputs  */
.frmContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input {
  width: 15em;
  cursor: pointer;
}

input::after {
  content: '';
  display: block;
  clear: both;
}

button {
  cursor: pointer;
}

.btn-input {
  margin-top: 1em;
  width: 8em;
  padding: 0.5em 0;
  transition-duration: 1s;
  background-color: cornflowerblue;
  color: #fff;
}

.btn-input:hover {
  background-color: #efefef;
  color: #000000;
}

table {
  text-align: center;
  margin-bottom: 2em;
}

/* Css da tabela */
td,
th {
  padding: 0 1em;
}

.cabecalho {
  background-color: cornflowerblue;
}

.linha-par {
  background-color: #f2f2f2;
}
.linha-impar {
  background-color: bisque;
}

.btn-editar,
.btn-remover {
  margin: 0 .5em;
  border: none;
  transition-duration: 1s;
  border-radius: 0.4em;
  color: #fff;
}

.btn-editar {
  background-color: green;
}

.btn-remover {
  background-color: red;
}

.btn-editar:hover,
.btn-remover:hover {
  background-color: #efefef;
  color: #000000;
}
